.cta-section {
  background: 
    url("https://i.pinimg.com/originals/6c/04/42/6c0442cba93295db1e425115ddc0f95e.gif") no-repeat,
    linear-gradient(160deg, 
                    rgb(255, 42, 0) 0%,    /* start color at 0% */
                    rgb(255, 42, 0) 70%,   /* keep same color until 70% */
                    rgb(255, 149, 0) 100%  /* change to end color at 100% */
                   );
  text-align: center;
  padding: 4rem 2rem;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}


.cta-content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cta-content h2 span {
  font-weight: 800;
}

.cta-content p {
  font-size: 0.95rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.cta-btn {
  background: #fff;
  color: #ff512f;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 0.9rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.cta-btn:hover {
  background: #f7f7f7;
}
